.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}
.nav-items {
    padding: 0 20px;
}

.nav-items > ul {
    display: flex;
    font-size: 24px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
}

.restaurant-card {
    width: 200px;
    height: 300px;
    background-color: lightgrey;
    padding: 5px;
    margin: 5px;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-logo {
    width: 190px;
    height: 100px;
    margin: 5px;
}

.search {
    padding: 10px;
}